.toolbarDiv {
    padding: 2px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 50%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-inline: auto;
    /* background-color: blue; */
}