.toolbarDiv {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.toolbarButtonHolderDiv {
    padding: 2px;
    height: 100%;
    border: 1px solid var(--border-color); 
    border-radius: var(--border-radius);
    display: flex;
    gap: 5px;
}

.iconComponentSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.toolbarBtn {
    padding: 0 10px;
    min-width: var(--toolbar-icon-width);
    min-height: var(--toolbar-icon-height);
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--fade-background-color);
        border-radius: 5px;
    }

    &:active {
        background-color: var(--border-color);
    }
}

.active {
    border-radius: var(--border-radius);
    background-color: var(--fade-background-color);
}