.canvasHolderDiv{
    
}
.Canvas{
    position: absolute;
    top: 0;
    left: 0;
} 
.supportingCanvas{
    background-color: transparent;
}

.mainCanvas{
    background-color: var(--canvas-color);
}