.sidebarDiv {
    position: fixed;
    left: 20px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.firstSpan,
.secondSpan {
    padding: 2px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.sidebarButton {
    position: relative;
    width: var(--toolbar-icon-width);
    height: var(--toolbar-icon-height);
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    align-content: center;
    cursor: pointer;

    &:hover {
        background-color: var(--fade-background-color);
        border-radius: 5px;
    }

    &:active {
        background-color: var(--border-color);
    }
}

.activeBtn {
    border-radius: var(--border-radius);
    background-color: var(--fade-background-color);
}

.secondSpan {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.character {
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 8px;
    color: var(--fade-white);
}