.dashLineIconDiv{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashLineIcon{
    width: 100%;
    height: 80%;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: var(--border-color);
    }
}
.dashLineIcon svg{
    width: 25px;
}