.toolbarLineStyleIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.LineStyleIcon{
    /* position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden; */
}