.colorPropertyDivForShapes{
    padding: var(--tool-window-padding);
    width: var(--tool-window-width);
    position: absolute;
    bottom: var(--tool-window-position-bottom);
    left: var(--tool-window-position-left);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.colorPropertyTab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.colorEffectTab{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#pastelBtn{
    background-color: gray;
}
#boldBtn{
    background-color: white;
}
#outlineBtn{
    border: 1px solid white;
}

.colorPropertyTab input {
    display: none;
}

.colorPropertyTab input[type='radio']:checked+label {
    background-color: var(--selected-tab-blue-color);
}

.colorPropertyTab label {
    min-width: var(--tool-btn-min-width);
    min-height: var(--tool-btn-min-height);
    border-radius: var(--tool-btn-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--tool-btn-hover-background-color);
    }
}



.toolbarColorIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.colorSpaceIcon {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
}