.colorShadesDiv{
    padding: 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}
.colorBtn{
    width: 22px;
    height: 22px;
    border-radius: var(--border-radius);
}