@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --canvas-color: #171717;
  --border-color: #3A3A3A;
  --border-radius: 5px;
  --special-font: "Inter", serif;
  --fade-background-color: #3a3a3aa7;
  --fade-white: rgba(255, 255, 255, 0.259);
  --toolbar-icon-width: 38px;
  --toolbar-icon-height: 38px;
  --toolbar-button-font-size: 13px;
  
  --selected-tab-blue-color: #68aaf2;
  --tool-window-width: 120px;
  --tool-window-padding: 10px 5px;
  --tool-btn-min-width:25px;
  --tool-btn-min-height:25px;
  --tool-btn-border-radius:5px;
  --tool-btn-hover-background-color:#3a3a3aa7;
  --tool-window-position-bottom: 130%;
  --tool-window-position-left: -30px;

  --color-tool-first-transparent:rgb(23, 23, 23);
  --color-tool-second-transparent:rgb(89, 91, 39);
  --color-tool-third-transparent: rgb(42, 93, 51);
  --color-tool-fourth-transparent: rgb(33, 56, 91);
  --color-tool-fifth-transparent: rgb(92, 41, 96);
  --color-tool-sixth-transparent: rgb(99, 41, 36);
  --color-tool-seventh-transparent: rgb(95, 60, 37);
  --color-tool-eighth-transparent: rgb(67, 67, 67);
  --color-tool-ninth-transparent: rgb(228, 228, 228);


  --color-tool-first-solid:rgb(23, 23, 23);
  --color-tool-second-solid:rgb(188, 191, 26);
  --color-tool-third-solid: rgb(100, 212, 131);
  --color-tool-fourth-solid: rgb(64, 126, 221);
  --color-tool-fifth-solid: rgb(192, 58, 203);
  --color-tool-sixth-solid: rgb(206, 82, 74);
  --color-tool-seventh-solidt: rgb(222, 159, 64);
  --color-tool-eighth-solid: rgb(200, 102, 37);
  --color-tool-ninth-solid: rgb(228, 228, 228);
}